<!DOCTYPE html>
<html>
<head>
<style> .indented { padding-left: 100pt; padding-right: 100pt; } </style> 
<title>...Things To Do</title>
<div style="background:white url(https://res.cloudinary.com/hud9ala09/image/upload/v1472080707/knu63xhr63rieuvss1xj.jpg) repeat fixed;border:1px solid whitek;width:1300px;height:400px;font-size:18px;"></div>
</head>

<body bgcolor="white">
</br>
</br>
<font size="6" color="#ccf2ff" face="lato">
<h2 align= center>THINGS TO DO</br>
<font size= "3">
</br>
<div align="center" style="box-sizing; display: inline-block; width: 500px; height: 350px; background-color: #ccf2ff; border: 4px solid #FFFFFF; border-radius: 5px; margin: 0px auto auto">
	<font size="3" color="white" face="lato">
	</br>
	</br>
	</br>
    <label>Choose a task:</label>
    </br>
  <legend>Choose your interests:</legend>
  </div>
</div>
  </div>
  <div align= "left">
  	<align left>
    <input type="checkbox" id="Starbucks" name="task" value="Starbucks">
    <label for="Starbucks">Get a coffee from Starbucks</label>
  </div>
  <div align= "left">
  	<align left>
    <input type="checkbox" id="homework" name="task" value="homework">
    <label for=homework>Drop off math homework</label>
  </div>
  <div align= "left">
  	<align left>
    <input type="checkbox" id="dog" name="task" value="dog">
    <label for="dog">Walk dog</label>
  </div>
  </br>
  <div>
      <button type="submit">Confirm</button>
    </div>
</form>
	</style> 


<body/>

</html>