{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>

<head>
	<title> {{ title }} </title>
	<link href="/static/style.css" type="text/css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>
	<div class="header">
		<img class="logo" src="/static/lazielogo.png">
	</div>
	<div class="main">
		<div class="buttons">
			<div class="ask" href=""> ASK </div> <!-- fill in link !!!! -->
	        <div class="do" href=""> DO </div> <!-- fill in link !!!! -->
	    </div>
	</div>
</body>

{% endblock %}