{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<div class="header">
      <img src="lazielogo.png">
    </div>
</head>
<body>
	<script src="me.js"></script>
	<link href="mestyle.css" type="text/css" rel="stylesheet">
	<div class="tab">
	  <button class="tablinks" onclick="openCity(event, 'London')">My Asks</button>
	  <button class="tablinks" onclick="openCity(event, 'Paris')">My Do's</button>
	</div>

	<div id="London" class="tabcontent">
	  <h3>My Asks</h3>
	  <div>
	  	<ul>
	  		<!--
		  	{% for ask_docs in my_asks_list %}
			<li><b>{{ ask_docs.task }}</b></li>
			<li>{{ ask_docs.descr }}</li>
			<li>{{ ask_docs.reward }}</li>
			{% endfor %} -->
	  	</ul>
	</div>
	</div>

	<div id="Paris" class="tabcontent">
	  <h3>My Do's</h3>
	  <div>
	  	<ul>
	  		<!--{% for do_docs in my_dos_list %}
			<li><b>{{ do_docs.task }}</b></li>
			<li>{{ do_docs.descr }}</li>
			<li>{{ do_docs.reward }}</li>
			{% endfor %} -->
	  	</ul>
	  </div>
	</div>

</body>

</html>

{% endblock %}