<!DOCTYPE html>
<html>
<head>
	<div class="header">
      <img src="lazielogo.png">
    </div>
</head>
<body>
	<script src="me.js"></script>
	<link href="mestyle.css" type="text/css" rel="stylesheet">
	<div class="tab">
	  <button class="tablinks" onclick="openCity(event, 'MyAsks')">My Asks</button>
	  <button class="tablinks" onclick="openCity(event, 'MyDos')">My Dos</button>
	</div>

	<div id="MyAsks" class="tabcontent">
	  <h3>My Asks</h3>
	  <p>This will be a list of my asks.</p>
	</div>

	<div id="MyDos" class="tabcontent">
	  <h3>My Dos</h3>
	  <p>This will be a list of my dos.</p> 
	</div>
</body>

</html>